/* frontend uchun*/@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
/* salom */ @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.Center{
    width: 100% !important;
    height: 90vh;
    margin: auto;
    max-width: 1430px;
    display: flex;
    justify-content: start;
    margin-top: 90px;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;

}
.bottom{
    display: flex;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: wrap;
    padding: 20px;
}
.fio{
    flex-wrap: wrap;

}
.myphoto{
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.5s !important;
}
.myphoto:hover{
  transform: scale(1.05);

}

.about-fio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 30px;
    height: 100%;
    width: 70%;
    transition: 0.5s;
}
.left:hover{
    transform: scale(1.04);
}
.right{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 30%;
    height: 100%;
}
.fm{
    font-size: 3rem;
}
.dvdnav{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color:none;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    transition: 0.5s;
    height: 50px !important;
    position: absolute;
   
}
.dvdnav:hover{
    box-shadow: 3px 6px 10px #909090 !important;
    background-color: black;
}
.hello{
    font-family: 'Montserrat', sans-serif;
}
@media (max-width:864px){
    .dvdnav{
      width: 200px;
    }
    .fm{
        font-size: 1rem;
    }
    .bottom{
        margin-left: -200px !important;
    }
    .fio{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
#readmore{
    border: 0.5px solid black;
    background-color: white;
    color: black;
}
.program, .region{
    font-family: 'Montserrat', sans-serif;
}
.top{
    width: 100%;
    overflow: hidden;
    padding: 40px;
    transition: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


@media (max-width:864px){
    .fio{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: start !important;
    }
}
@media (max-width:412px){
    .fio{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center
         !important;
    }
}
.icona{
    text-decoration: none;
}
.icont{
    padding: 10px;
    width: 60px !important;
    height: 60px !important;
    color: black;
    border: 0.5px solid #909090;
    border-radius: 10px;
}
.icont:hover{
    transition: 0.6s;
    transform:scale(0.9);
}
.fio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.tarmoq-about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}